*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(139, 159, 159);
    
}


.pantalla{
    user-select: none;

}

.pantalla .cronometro{
    height: 100px;
    
    background: rgb(5, 78, 78);
    display: 	flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 5px rgb(17, 29, 29) ;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.pantalla .cronometro span{
    width: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 550;
    color: brown;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.cronometro span.separador,
.cronometro span.separador-mili,
.cronometro span.milisegundo{
    width: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.cronometro span.separador-mili,
.cronometro span.milisegundo{
    color: rgb(184, 144, 222);
    
}

.pantalla .botones{
    text-align: center;
    margin-top: 30px;
}

.botones button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0px 10px;
    color: rgb(189, 130, 53);
    background:rgb(97, 55, 0) ;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.9rem;
    cursor: pointer;
    box-shadow: 3px 4px 3px 0px rgb(177, 23, 59) ;
}

.botones button.on{
    pointer-events: none;
    opacity: 0.7;
}